@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, Arial, 'Helvetica', sans-serif;

  color: rgba(255, 255, 255, 0.87);
  background-color: #121212; 
}

input {
  appearance: none;
  /* border: none; */
  outline: none;
  background: transparent;
  font: inherit;
}